.floats__wrapper{
  display: none;
}


@media screen and (min-width:768px){
  .floats__wrapper{
    display: block;
  }
      
  .floats__social{
    position: fixed;
    bottom: 0;
    left: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.5rem;
    z-index: 1;
  }

  .floats__social a{
    padding:0.5rem
  }

  .floats__social a, .floats__social a > *{
    -webkit-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
  }

  .floats__social svg{
    font-size: 22px;
  }

  .floats__line{
    height: 12rem;
    width: 2px;
    border-radius: 8px;
    background:var(--clr-primary400);
    opacity: 0.5;
  }

  .floats__email{
    position: fixed;
    bottom: 0;
    right: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    z-index: 1;
    width: 30px;
  }

  .floats__email a{
    -webkit-transform: rotate(90deg) translateX(-100px);
        -ms-transform: rotate(90deg) translateX(-100px);
            transform: rotate(90deg) translateX(-100px);
    letter-spacing: 2px;
  }

  .floats__social a:hover {
    -webkit-transform: translateY(-30%);
        -ms-transform: translateY(-30%);
            transform: translateY(-30%);
  }

  .floats__social a:hover svg path{
    color:var(--clr-primary400);
  }
}

