.hero{
  padding: 0;
  margin: 0 0 40px 0;
}

.hero__wrapper{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hero__background,.hero__moon{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero__content{
  padding:1rem;
  z-index: 5;
}

.hero__title{
  background-image: linear-gradient(to right,var(--clr-primary900), var(--clr-neutral));
  color: transparent;
  background-clip: text;
}

.hero__caption{
  width:70%;
}

.hero__cta-wrapper{
  display: flex;
  align-items: center;
}

.hero__background{
  overflow: hidden;
  background-image:url('../assets/hero/hero-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__wolf{
  display: none;
}

.hero__moon{
  display: flex;
  justify-content: center;
  align-items: center;
  height:141px;
  width: 141px;
  left: unset;
  right: -65px;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}

.hero__moon > *{
  position: absolute;
  top:50%;
  right:50%;
  transform:translate(50%, -50%)
}

/* Experience Section */

.exp__cards{
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:0.5rem;
}

.exp__sCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.exp__caption{
  margin-bottom: 1.5rem;
}

.sCard__visual{
  background: var(--clr-neutral800);
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 4px;
}

.sCard__visual * {
  color: var(--clr-primary400);
  fill: var(--clr-primary400);
  font-size: var(--fs-l);
  font-weight: 700;
  font-family: var(--ff-main);
}

.sCard__content{
  font-size: var(--fs-sub);
}

/* Projects section */
.projects__cards{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.projects__lCard{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.lCard__subtitle{
  color:var(--clr-secondary200);
  font-weight: 400;
}

.lCard__image source, .lCard__image img{
  width: 100%;
  border-radius: 8px;
  filter: brightness(0.8);
  transition: 0.2s ease all;
  cursor: pointer;
}

.lCard__image source:hover, .lCard__image img:hover{
  transform:translateY(-20px);
  filter:brightness(1)
}

.lCard__info p{
  margin: 0.5rem 0;
}

.lCard__cta.secondary{
  padding: 1rem 0;
  font-weight: 400;
  font-size: var(--fs-sub);
}

.lCard__cta.secondary svg path{
  color:inherit
}


/* About */
.about__image {
  display: none;
}

.about__image img{
 width: 40%;
}

.about__content .stack-wrapper{
  display: flex;
  margin-top:2rem;
}

.contact__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.contact__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width:768px){
  .hero__content{
    position: absolute;
    height: 100%;
  }

  .hero__cta-wrapper{
    gap:0.5rem;
  }
  
  .hero__background{
    position: static;
    background-size: 100% auto;
  }


  .hero__wolf{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow: hidden;
  }
  
  .hero__wolf img{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 5;
  }

  .hero__wolf img:nth-child(1){
    transform:translateY(20px)
  }

  .hero__wolf img:nth-child(2){
    position: absolute;
    top: 17%;
    left: -100px;
    z-index: 4;
  }

  .hero__moon{
    right: 8%;
    transform: translateY(-79%);
  }

  /* Experience Tablet */
  .exp__caption{
    margin-bottom: 2rem;
  }

  .exp__title{
    font-size: var(--fs-m);
    font-weight: 600;
  }

  .exp__subtitle{
    font-weight: 500;
    font-family: var(--ff-main);
    color: var(--clr-neutral500);
  }

  .exp__cards{
    grid-template-columns: repeat(3, 1fr);
    grid-gap:1rem;
  }

  .sCard__visual{
    padding: 1.8rem 1rem;
  }

  .sCard__visual * {
    font-size: var(--fs-l);
    letter-spacing: 2px;
  }

  .sCard__content{
    padding: 0.2rem 0.5rem;
  }


  /* About */

  .about__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image:url('../assets/about/about-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about__content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .about__content > *{
    flex:6;
  }

  /* Contact */
  .contact__wrapper p{
    width: 60%;
  }
}


@media screen and (min-width:992px){
  .hero__content{
    padding-top:5%;
    width: 100%;
  }
  .hero__moon{
    right: 10%;
    transform: translateY(-79%);
  }

  .hero__moon > *{
    transform:translate(50%, -50%) scale(1.2)
  }

  .hero__cta{
    font-size: var(--fs-xs);
  }

  
  /* Projects */

  .projects__lCard{
    grid-template-columns: 48% 48%;
  }

  .projects__lCard:nth-child(odd) .lCard__wrapper{
    grid-column: 1;
    grid-row: 1;
  }

  .projects__lCard:nth-child(even) .lCard__wrapper{
    grid-column: 2;
    grid-row: 1;
    text-align: right;
  }

  .projects__lCard:nth-child(odd) .lCard__image{
    grid-column: 2;
    grid-row: 1/span 2;
  }

  .projects__lCard:nth-child(even) .lCard__image{
    grid-column: 1;
    grid-row: 1/span 2;
  }

  .projects__lCard:nth-child(odd) .lCard__info{
    grid-column: 1;
    grid-row: 2;
  }

  .projects__lCard:nth-child(even) .lCard__info{
    grid-column: 2;
    grid-row: 2;
    text-align: right;
  }

  .projects__lCard:nth-child(even) .lCard__stack{
    justify-content: flex-end;
  }

  .projects__lCard:nth-child(even) .lCard__cta.secondary{
    margin-left: auto;
  }
  

  .projects__cards{
    gap: 10rem;
  }

}

@media screen and (min-width:1200px){

  .hero__wrapper{
    display: flex;
    justify-content: center;
  }

  .hero__moon{
    right: 11%;
    transform: translateY(-110%);
  }

  .hero__moon > *{
    transform:translate(50%, -50%) scale(1.5)
  }

  /* Experience - Large Desktops */
  .exp__sCard{
    flex-direction: row;
    background: var(--clr-neutral800);
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }

  .sCard__visual{
    background:none;
    padding: 0.5rem;
  }

  .sCard__content{
    text-align: left;
  }
}

@media screen and (min-width:1400px){
  .hero__moon{
    right: 13%;
    transform: translateY(-120%);
  }
}