:root{
  /* Font Sizes */
  --fs-xxl:clamp(2.2rem, 5vw, 3.915rem); /*35.2 68px */
  --fs-xl:clamp(2rem, 3.8vw, 2.6rem); /*32 - 48px */
  --fs-l:clamp(1.5rem, 3.5vw, 2.1rem); /*28 - 39px */
  --fs-m:clamp(1.5rem, 3vw, 1.853rem); /*24 - 31px */
  --fs-s:clamp(1.25rem, 2.5vw, 1.2rem); /*20 - 25px */
  --fs-xs:clamp(1rem, 2vw, 1rem); /*16px */

  --fs-body:clamp(1rem, 1.6vw, 1.2rem); /* 16 - 19px */
  --fs-sub:clamp(0.9rem, 1.2vw, 1rem); /* 14 - 17px */
  --fs-hints:clamp(0.8rem, 1.5vw, 0.9rem); /* 10 - 14px */

  /* Font Family */
  --ff-main:"Montserrat", serif;
  --ff-body:"Nunito", serif;

  /* Colors */
  --clr-primary:#8623FF;
  --clr-primarydark:#310e5d;
  --clr-primary900:#5c17af;
  --clr-primary800:#6d21c8;
  --clr-primary400:#D8B6FF;
  --clr-primary200:#ECDAFF;
  --clr-primary100:#F6EDFF;

  --clr-secondary400:#FCBA6E;
  --clr-secondary200:#FFC98B;
  --clr-secondary100:#FFE0BC;

  --clr-neutral:#FFFFFF;
  --clr-neutral200:#e5e3e6;
  --clr-neutral300:#cccccc;
  --clr-neutral400:#afafaf;
  --clr-neutral500:#8f8e8e;
  --clr-neutral600:#4E4E51;
  --clr-neutral700:#3D3D3E;
  --clr-neutral800:#232323;
  --clr-neutral900:#0d0d0d;

  --br-radius:4px;
}

*{
  font-family: var(--ff-body);
  text-decoration: none;
  color:var(--clr-neutral400);
  box-sizing: border-box;
}

.springy {
  transition: transform 1s
    linear(
      0,
      0.009,
      0.035 2.1%,
      0.141,
      0.281 6.7%,
      0.723 12.9%,
      0.938 16.7%,
      1.017,
      1.077,
      1.121,
      1.149 24.3%,
      1.159,
      1.163,
      1.161,
      1.154 29.9%,
      1.129 32.8%,
      1.051 39.6%,
      1.017 43.1%,
      0.991,
      0.977 51%,
      0.974 53.8%,
      0.975 57.1%,
      0.997 69.8%,
      1.003 76.9%,
      1.004 83.8%,
      1
    );
}

body{
  background-color:var(--clr-neutral900);
  padding: 0;
  margin: 0;
}

a:hover{
  color:var(--clr-primary200)
}

li{
  list-style-type: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--ff-main);
  margin: 0 0 1.5rem;
  color: var(--clr-neutral200);
}

a, .cta{
  transition:0.2s ease;
}

h1 {
  font-size: var(--fs-xxl)
}

h2 {
  font-size: var(--fs-xl)
}

h3 {
  font-size: var(--fs-l)
}

h4 {
  font-size: var(--fs-m);
  font-weight: 600;
}

h5 {
  font-size: var(--fs-s)
}

h6 {
  font-size: var(--fs-xs)
}

p {
  font-size: var(--fs-body);
  line-height:1.8rem;
  margin:0 0 1.5rem 0;
}

small {
  font-size: var(--fs-sub);
  color:var(--clr-neutral400)
}

.smaller-text {
  font-size: var(--fs-hints);
}

.container{
  max-width: 1300px;
  width: 100%;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin:2rem 0;
  width: 100%;
  scroll-margin-top: 20px;
}

.section-header{
  margin-bottom: 4rem;
  position: relative;
  font-family: var(--ff-main);
}

.section__title{
  font-family: var(--ff-main);
  color:var(--clr-neutral200)
}

.cta{
  cursor: pointer;
  position: relative;
  background:var(--clr-primary900);
  color:var(--clr-neutral400);
  font-weight: 600;
  padding:0.5rem 1rem;
  border: none;
  border-radius: 4px;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 8px;
  outline: none;
  z-index: 3;
}

.cta:hover{
  background:var(--clr-primarydark);
}


.cta.secondary{
  background: transparent;
  border: none;
  color: var(--clr-secondary200);
  font-size: var(--fs-sub);
  transition: 0.2s ease;
}

.cta.secondary:hover{
  color: var(--clr-primary400);
}

.cta span,.cta svg path{
  color:var(--clr-primary200)
}

.cta.secondary span{
  color: var(--clr-primary200);
  font-size:var(--fs-xs)
}

.highlight{
  background-image: linear-gradient(to right,var(--clr-primary900), var(--clr-neutral));
  color: transparent;
  background-clip: text;
  font-family: var(--ff-main);
  font-weight: 700;
}

.sublight{
  color:var(--clr-primary400);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: 500;
  margin-right: 5px;
}

img{
  object-fit: contain;
}

.stack-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap:0.7rem ;
  margin-top: 1rem;
}

.stack__card{
  border: 1px solid rgb(129 129 129 / 17%);
  border-radius: 4px;
  background: #1b1b1b;
  padding: 0.4rem 0.8rem;
  font-weight: 500;
  font-size: var(--fs-sub);
  text-align: center;
  color: var(--clr-neutral300);
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: var(--clr-primarydark);
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: scale(0.9);
  z-index: 1000;
}


@media screen and (min-width:768px) {
  
  section{
    margin:180px 0;
    scroll-margin-top: 80px;
    padding: 1rem 2rem;
  }

  .cta{
    padding:0.7rem 1.4rem;
  }

  .cta.secondary{
    font-size: var(--fs-body);
  }
}