:root{
  /* Font Sizes */
  --fs-xxl:clamp(2.2rem, 5vw, 3.915rem); /* 68px */
  --fs-xl:clamp(2rem, 4vw, 3.052rem); /* 48px */
  --fs-l:clamp(1.75rem, 3.5vw, 2.441rem); /* 39px */
  --fs-m:clamp(1.5rem, 3vw, 1.953rem); /* 31px */
  --fs-s:clamp(1.25rem, 2.5vw, 1.563rem); /* 25px */
  --fs-xs:clamp(1rem, 2vw, 1.1rem); /* 18px */

  --fs-body:clamp(1rem, 1.5vw, 1.2rem); /* 16px */
  --fs-sub:clamp(0.9rem, 1.2vw, 1.05rem); /* 12px */
  --fs-hints:clamp(0.5rem, 1vw, 0.74rem); /* 10px */

  /* Font Family */
  --ff-main:"Montserrat", serif;
  --ff-body:"Nunito", serif;

  /* Colors */
  --clr-primary:#8623FF;
  --clr-primary900:#691ACB;
  --clr-primary400:#D8B6FF;
  --clr-primary200:#ECDAFF;
  --clr-primary100:#F6EDFF;

  --clr-secondary:#FAA646;
  --clr-secondary900:#D88A31;
  --clr-secondary400:#FCBA6E;
  --clr-secondary200:#FFC98B;
  --clr-secondary100:#FFE0BC;

  --clr-neutral:#FFFFFF;
  --clr-neutral400:#D7D7D7;
  --clr-neutral200:#F5F1F7;
  --clr-neutral600:#4E4E51;
  --clr-neutral700:#3D3D3E;
  --clr-neutral800:#282828;
  --clr-neutral900:#212121;

  --br-radius:4px;
}

*{
  font-family: var(--ff-body);
  text-decoration: none;
  transition: 0.2s ease;
  color:var(--clr-neutral400);
  box-sizing: border-box;
}

body{
  background-color:var(--clr-neutral900);
  padding: 0;
  margin: 0;
}

a:hover{
  color:var(--clr-primary200)
}

li{
  list-style-type: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--ff-main);
  margin: 0;
}

h1 {
  font-size: var(--fs-xxl)
}

h2 {
  font-size: var(--fs-xl)
}

h3 {
  font-size: var(--fs-l)
}

h4 {
  font-size: var(--fs-m)
}

h5 {
  font-size: var(--fs-s)
}

h6 {
  font-size: var(--fs-xs)
}

p {
  font-size: var(--fs-body);
  color: var(--clr-neutral400);
}

small {
  font-size: var(--fs-sub);
  color:var(--clr-neutral400)
}

.smaller-text {
  font-size: var(--fs-hints);
}

.container{
  max-width: 1400px;
}

.cta{
  background:var(--clr-primary900);
  color:var(--clr-neutral400);
  font-weight: 600;
  padding:0.5rem 1rem;
  border: 0;
  border-radius: 4px;
  margin: 1rem 0;
}

.cta.secondary{
  background: transparent;
  border: none;
}

.cta.secondary span{
  color: var(--clr-secondary200);
}
